.container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    border: 1px solid black;
    max-width: 250px;
    max-width: 18em;
    min-width: 18em;
    margin: 2em auto;
    padding: 2em;
    background: rgb(53,204,255);
    color: white;
    border-radius: 2em;
}

img {
    border-radius: 50%;

}

